/* Initial styling */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  font-family: "Mulish", sans-serif;
}

.container {
  padding: 0 36.5rem;
}

/* Hero component */

.hero {
  height: 80vh;
  background: rgb(10, 8, 38);
  color: white;
}

.title {
  font-family: "Roboto", sans-serif;
  padding: 11vh 0 11vh 0;
  font-size: 1.2rem;
  line-height: 3.2rem;
  letter-spacing: 0.3rem;
}

.tag-line {
  display: flex;
  justify-content: space-between;
}

.tag {
  font-size: 4.5rem;
  font-family: "Roboto", sans-serif;
  line-height: 5.5rem;
  letter-spacing: 0.2rem;
  font-weight: 900;
  width: 40rem;
}

.big-brain {
  height: 21.7rem;
  width: 27.6rem;
}

.line {
  border-bottom: 1px solid rgb(55, 70, 90);
  margin: 9.3rem 0 2.2rem 0;
}

.do {
  font-size: 1.8rem;
  color: rgb(181, 189, 208);
}

.brain-img,
.roller-img,
.satelite-img,
.grid-img {
  height: 50px;
  width: 50px;
}

.progress-img {
  height: 10vh;
  width: 70vw;
}
